<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
        <nav>
            <div>
                <a href="/products">Products</a>
            </div>
            <div>
                {{#unless user}}
                    <a href="/auth/log-in">Login</a>
                    <a href="/auth/sign-up">Sign Up</a>
                {{else}}
                    <a href="/cart">Cart</a>
                    <a href="/orders">Orders</a>
                    <a href="/user">Account</a>
                    <a href="/auth/log-out">Logout</a>
                {{/unless}}
            </div>
        </nav>
</header>

<main class="container">
    {{{body}}}
</main>

<footer class="footer">
    <p>&copy; 2024 {{title}}. All rights reserved.</p>
</footer>
</body>
</html>
