<div class="hero">
    <div>
        <h1>Demo Version</h1>
        <p>Download Code <a style="color: greenyellow" href="https://github.com/fmpberger88/potion-shop" target="_blank">here</a></p>
        <a href="/products" style="background: #AA210F; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Shop Now</a>
    </div>
</div>

<div class="container">
    <div class="features">
        <div class="feature">
            <img src="/images/default_image.webp" alt="Quality Products">
            <h3>Top Quality</h3>
            <p>Our products are made from the highest quality materials.</p>
        </div>
        <div class="feature">
            <img src="/images/default_image.webp" alt="Affordable Prices">
            <h3>Affordable Prices</h3>
            <p>Get the best gear at prices that won't break the bank.</p>
        </div>
        <div class="feature">
            <img src="/images/default_image.webp" alt="Community">
            <h3>Community</h3>
            <p>Join a community of like-minded climbing enthusiasts.</p>
        </div>
    </div>
</div>