<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
    <div>
        <h1><a href="/" id="home">Boulder's Potion</a></h1>
    </div>
    <div>
        <nav>
            {{#unless user}}
                <a href="/auth/log-in">Login</a> |
                <a href="/auth/sign-up">Sign Up</a>
            {{else}}
                <span>Welcome, {{user.first_name}}!</span> |
                <a href="/auth/log-out">Logout</a>
            {{/unless}}
        </nav>
    </div>
</header>

<main class="container">
    {{{body}}}
</main>

<footer>
    <a href="https://www.fmpberger.com" target="_blank">fmpberger</a>
</footer>
</body>
</html>
