<h1>Login</h1>
{{#if errors}}
    <div style="color: red;">
        {{#each errors}}
            <p>{{this}}</p>
        {{/each}}
    </div>
{{/if}}
<form action="/auth/log-in" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">  <!-- CSRF Token hinzugefügt -->
    <button type="submit">Login</button>
</form>
<a href="/password/forgot">Forgot password?</a>
<p>If you don't have an account yet?? Please <a href="/auth/sign-up">Sign-Up</a></p>