<div class="formContainer">
    <h1>{{title}}</h1>
    {{#if errors}}
        <div style="color: red;">
            {{#each errors}}
                <p>{{this.msg}}</p>
            {{/each}}
        </div>
    {{/if}}
    <form action="/password/reset/{{token}}" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <button type="submit">Reset Password</button>
    </form>
    <a href="/auth/log-in">Back to Login</a>
</div>
