@font-face {
  font-family: 'Roboto Regular';
  src: url("/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("/fonts/Roboto-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto Black';
  src: url("/fonts/Roboto-Black.ttf") format('truetype');
}

:root {
  --font-family: "Roboto Regular", sans-serif;
  --background-color: #F2FBFF;
  --link-color: #333;
  --link-hover-color: black;
  --header-background-color: #F2FBFF;
  --header-text-color: #AA210F;
  --nav-background-color: #EDEFEE;
  --nav-text-color: #EDEFEE;
  --feature-background-color: white;
  --feature-box-shadow: rgba(0, 0, 0, 0.1);
  --button-background-color: #AA210F;
  --button-hover-background-color: #D08856;
  --button-text-color: #EDEFEE;
  --button-hover-text-color: black;
  --footer-background-color: #87AB0F;
  --footer-text-color: black;
}


body {
  font-family: var(--font-family);
  background: var(--background-color);
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--header-background-color);
  padding: 2rem 0;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0 2px 4px var(--header-background-color);
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 2rem;
  margin: 2rem 0;
}

nav a, nav span {
  color: var(--link-color);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto Black", sans-serif;
  margin: 0 1rem;
}

nav a i {
  margin-right: 5px;
}

nav a:hover {
  color: var(--link-hover-color);
}

nav a:visited {
  color: none;
}

#logo {
  font-family: 'Rage Italic', sans-serif;
  font-size: 2rem;
  color: #87AB0F;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform 0.3s;
}

#logo:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  background: var(--feature-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--feature-box-shadow);
  width: 50%;
  text-align: start;
}

.accountContainer {
  display: flex;
  flex-direction: column;
  background: var(--feature-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--feature-box-shadow);
  width: 50%;
}

.hero {
  position: relative;
  background: url('/images/pic.webp') no-repeat center center/cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  width: 70%;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero h1,
.hero p,
.hero a {
  font-family: "Roboto Thin", sans-serif;
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 4em;
  margin: 0;
}

.hero p {
  font-size: 1.5em;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 1rem;
}

.feature {
  background: var(--feature-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--feature-box-shadow);
  width: 25%;
  text-align: center;
}

.feature img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.gridProductCointainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.2rem;
  width: 80%;
}

.createProductLink {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.createProductLink:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
}

#filter {
  width: 100%;
}

.filters {
  background: var(--feature-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--feature-box-shadow);
}

.filters div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.filters div select {
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--link-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.filters div input {
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--link-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.filterButtons, .resetButton {
  background-color: var(--button-background-color);
  border: none;
  border-radius: 5px;
  color: var(--button-text-color);
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.filterButtons:hover, .resetButton:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.productFeature {
  background: var(--feature-background-color);
  box-shadow: 0 4px 8px var(--feature-box-shadow);
  display: flex;
  flex-direction: column;
  height: 20rem;
  text-align: center;
  width: 20rem;
}

.productTitle {
  color: black;
  font-size: 1.1em;
  margin-top: 1rem;
}

.productPrice {
  font-size: 0.9rem;
}

.productFeature img {
  height: auto;
  max-width: 100%;
}

.productDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 80%;
}

.productDetailImage {
  flex: 1 1 600px;
  max-width: 100%;
  align-self: flex-start;
  justify-self: flex-start;
}

.productDetailImage img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.productDetailDescription {
  flex: 1 1 400px;
  max-width: 100%;
}

.addButton {
  margin: 1rem 0;
  width: 250px;
  align-self: flex-start;
}

.cartForm {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.cartForm input {
  width: 40px;
}

.cartList {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 2rem;
  width: 60%;
  margin: 2rem 0;
}

.cartItem {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  width: 100%;
  border: 1px solid var(--link-color);
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px var(--feature-box-shadow);
}

.cartItem img {
  border-radius: 5px;
}

.cartForm {
  width: 80%;
  align-self: center;
  justify-self: center;
}

.cartRemoveButton {
  padding: 0.5rem;
  margin-top: 1rem;
  font-weight: normal;
  background-color: red;
  color: white;

}

.orderTitle {
  margin-left: 20px;
}

.footer {
  background: var(--footer-background-color);
  color: var(--footer-text-color);
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

form label {
  font-size: 1.2rem;
  font-weight: bold;
}

form input, form textarea, form select {
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--link-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form button {
  background: var(--button-background-color);
  border: none;
  color: var(--button-text-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  max-width: fit-content;
  align-self: center;
}

aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

aside a {
  background: steelblue;
  padding: 1rem 0;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-size: 1.2rem;
}

/* responsive Header */
.plus-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #AB3936;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal {
  background-color: rgba(170, 33, 15, 0.9);
  color: white;
  display: none;
  position: fixed;
  z-index: 2;
  left: 20px;
  top: 14vh;
  padding: 2rem;
  height: 60%;
  border-radius: 15px;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.close {
  align-self: flex-end;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

.cart-link {
  position: relative;
}

.cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -10px;
  right: -10px;
}


@media screen and (max-width: 1000px) {
  header {
    display: none;
  }

  nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 2rem;
  }

  nav div {
    display: flex;
    flex-direction: column;
  }

  nav a i {
    margin-right: 2rem;
  }

  .accountContainer, .formContainer {
    width: 95%;
  }

  .feature {
    width: 100%;
  }
  form {
    width: 100%;
  }

  .productDetailImage, .productDetailDescription {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .cartList {
    width: 70%;
    justify-content: center;
    align-items: center;
  }

  .cartItem {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }

  .cartItem img {
    width: 60%;
  }

  .cartRemoveButton {
    margin: 0;
  }

  .orderTitle {
    margin-left: 0;
  }

  .plus-btn {
    display: block;
  }
}

@media screen and (max-width: 500px) {

  p, a {
    font-size: 1.2rem;
  }

  .hero {
    width: 100%;
  }
  .feature {
    width: 100%;
  }

  .gridProductCointainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filters div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .cartList {
    width: 90%;
  }

  .cartItem img {
    width: 100%;
  }

  form {
    width: 100%;
  }

  form input {
    padding: 10px;
  }
}
