<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
        }
        .container {
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
        }
        p {
            line-height: 1.6;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            background-color: #AA210F;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }
        .btn:hover {
            background-color: #AB3936;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Email Verification</h1>
    <p>Hello {{firstName}},</p>
    <p>Thank you for registering. Please click the button below to verify your email address:</p>
    <a href="{{verificationLink}}" class="btn">Verify Email</a>
    <p>If you did not register, please ignore this email.</p>
</div>
</body>
</html>
